<div class="module__documents documents">
    <h3 class="documents__title">Документы</h3>
    <ul class="documents__list">
        <li class="documents__item document">
            <h4 class="document__title">Лабораторная работа №1123</h4>
            <p class="document__category">Категория: практика</p>
            <p class="document__date">Дата создания: 31.01.2005</p>
            <div class="document__buttons">
                <button class="document__button button">Изменить</button>
                <button class="document__button button">Открыть</button>
            </div>
        </li>
        <li class="documents__item document">
            <h4 class="document__title">Лабораторная работа №1</h4>
            <p class="document__category">Категория: практика</p>
            <p class="document__date">Дата создания: 31.01.2005</p>
            <div class="document__buttons">
                <button class="document__button button">Изменить</button>
                <button class="document__button button">Открыть</button>
            </div>
        </li>
        <li class="documents__item document">
            <h4 class="document__title">Лабораторная работа №1</h4>
            <p class="document__category">Категория: практика</p>
            <p class="document__date">Дата создания: 31.01.2005</p>
            <div class="document__buttons">
                <button class="document__button button">Изменить</button>
                <button class="document__button button">Открыть</button>
            </div>
        </li>
        <li class="documents__item document">
            <h4 class="document__title">Лабораторная работа №1</h4>
            <p class="document__category">Категория: практика</p>
            <p class="document__date">Дата создания: 31.01.2005</p>
            <div class="document__buttons">
                <button class="document__button button">Изменить</button>
                <button class="document__button button">Открыть</button>
            </div>
        </li>
        <li class="documents__item document">
            <h4 class="document__title">Лабораторная работа №1</h4>
            <p class="document__category">Категория: практика</p>
            <p class="document__date">Дата создания: 31.01.2005</p>
            <div class="document__buttons">
                <button class="document__button button">Изменить</button>
                <button class="document__button button">Открыть</button>
            </div>
        </li>
        <li class="documents__item document">
            <h4 class="document__title">Лабораторная работа №1</h4>
            <p class="document__category">Категория: практика</p>
            <p class="document__date">Дата создания: 31.01.2005</p>
            <div class="document__buttons">
                <button class="document__button button">Изменить</button>
                <button class="document__button button">Открыть</button>
            </div>
        </li>
    </ul>
    <form class="form" action="" method="post" enctype="multipart/form-data">
        <h3 class="form__title">Создать новый документ</h3>
        <label for="title" class="form__label">
            <input type="text" name="title" id="title" class="form__input" placeholder="Название документа...">
        </label>
        <label for="category" class="form__label">
            <select class="form__select" name="category" id="category">
                <option value="practise">Практика</option>
                <option value="practise">Теория</option>
            </select>
        </label>
        <label for="" class="form__label">
            <input type="file" name="" id="" class="form__input">
        </label>
        <button type="submit" class="form__submit button">Создать</button>
    </form>
</div>