<section class="admin__statistics statistics">
    <h3 class="statistics__title">Cтатистика</h3>
    <ul class="statistics__list">
        <li
            class="statistics__item"
            *ngFor="let stat of stats | async"
        >
            <app-stat
                [date]="stat.createdAt"
                [documentName]="stat.document.title"
                [firstName]="stat.user.firstName"
                [middleName]="stat.user.middleName"
                [lastName]="stat.user.lastName"
            ></app-stat>
        </li>
    </ul>
</section>