<section class="admin__statistics statistics">
    <h3 class="statistics__title">Cтатистика</h3>
    <ul class="statistics__list">
        <li class="statistics__item">
            <app-stat></app-stat>
        </li>
        <li class="statistics__item">
            <app-stat></app-stat>
        </li>
        <li class="statistics__item">
            <app-stat></app-stat>
        </li>
        <li class="statistics__item">
            <app-stat></app-stat>
        </li>
        <li class="statistics__item">
            <app-stat></app-stat>
        </li>
        <li class="statistics__item">
            <app-stat></app-stat>
        </li>
    </ul>
</section>