<section class="admin__statistics statistics">
    <h3 class="statistics__title">Cтатистика</h3>
    <ul class="statistics__list">
        <li class="statistics__item stat">
            <span class="stat__info">Гаркавый Алексей Петрович</span> открыл документ "<span class="stat__info">Лабораторная работа №1123</span>" 5 секунд назад
        </li>
        <li class="statistics__item stat">
            <span class="stat__info">Гаркавый Алексей Петрович</span> открыл документ "<span class="stat__info">Лабораторная работа №1123</span>" 5 секунд назад
        </li>
        <li class="statistics__item stat">
            <span class="stat__info">Гаркавый Алексей Петрович</span> открыл документ "<span class="stat__info">Лабораторная работа №1123</span>" 5 секунд назад
        </li>
        <li class="statistics__item stat">
            <span class="stat__info">Гаркавый Алексей Петрович</span> открыл документ "<span class="stat__info">Лабораторная работа №1123</span>" 5 секунд назад
        </li>
        <li class="statistics__item stat">
            <span class="stat__info">Гаркавый Алексей Петрович</span> открыл документ "<span class="stat__info">Лабораторная работа №1123</span>" 5 секунд назад
        </li>
    </ul>
</section>