<header class="header">
    <nav class="header__navigation">
        <h1 class="header__title">
            <a routerLink="/">Education System</a>
        </h1>
        
        <ul class="header__links">
            <li class="header__link"><a href="#">Документы</a></li>
            <li class="header__link"><a href="#">Теория</a></li>
            <li class="header__link"><a href="#">Практика</a></li>
        </ul>

        <ul class="header__buttons">
            <li class="header__button"><a class="button" href="#">Регистрация</a></li>
            <li class="header__button"><a class="button" href="#">Вход</a></li>
            <li class="header__button"><a class="button" href="#">Выйти</a></li>
        </ul>
    </nav>
</header>