<header class="header">
    <nav class="header__navigation">
        <h1 class="header__title">
            <a routerLink="/main">Education System</a>
        </h1>
        
        <ul class="header__links">
            <li class="header__link"><a routerLink="">Документы</a></li>
            <li class="header__link"><a routerLink="">Теория</a></li>
            <li class="header__link"><a routerLink="">Практика</a></li>
        </ul>

        <ul class="header__buttons">
            <li class="header__button"><a class="button" routerLink="/user/register">Регистрация</a></li>
            <li class="header__button"><a class="button" routerLink="/user/login">Вход</a></li>
            <li class="header__button"><a class="button" routerLink="/user/logout">Выйти</a></li>
        </ul>
    </nav>
</header>