<header class="header">
    <nav class="header__navigation">
        <h1 class="header__title">
            <a routerLink="/main">Education System</a>
        </h1>
        
        <ul class="header__links">
            <li class="header__link"><a routerLink="/library">Документы</a></li>
            <li class="header__link"><a routerLink="/library/theory">Теория</a></li>
            <li class="header__link"><a routerLink="/library/practise">Практика</a></li>
        </ul>

        <ul class="header__buttons">
            <li *ngIf="!(authorized | async)" class="header__button"><a class="button" routerLink="/user/register">Регистрация</a></li>
            <li *ngIf="!(authorized | async)" class="header__button"><a class="button" routerLink="/user/login">Вход</a></li>
            <li *ngIf="authorized | async" class="header__button"><a class="button" (click)="logout()">Выйти</a></li>
            <li *ngIf="admin | async" class="header__button"><a class="button" routerLink="/admin">Администрирование</a></li>
        </ul>
    </nav>
</header>