<div class="document">
    <h4 class="document__title">{{title}}</h4>
    <p class="document__category">Категория: {{category}}</p>
    <p class="document__date">Дата создания: {{createdAt}}</p>
    <div class="document__buttons">
        <a
            [routerLink]=""
            class="document__button button"
            *ngIf="isAdmin"    
        >Изменить</a>
        <a
            [href]="'http://localhost:3000/documents/' + file"
            class="document__button button"
            (click)="createStat(id)"
        >Открыть</a>
    </div>
</div>