// Page colors
$active-color: #FFC464;
$background-color: #A95094;
$active-text-color: #96317D;

// Fonts
$font-family: "Victor Mono", sans-serif, monospace;

//Sizes
$container-width: 1180px;
$container-padding: 10px;
$block-width: calc(1180px / 2);
$element-width: calc(1180px / 4);