<form action="POST" method="post" class="form form--registration" [formGroup]="form" (ngSubmit)="submit()">
    <h2 class="form__title">Регистрация</h2>

    <fieldset class="form__fieldset">
        <legend class="form__legend">Аутентификационные данные:</legend>
        <label for="login" class="form__label">
            <input formControlName="login" type="text" name="login" id="login" class="form__input" placeholder="Логин...">
        </label>
        <label for="email" class="form__label">
            <input formControlName="email" type="email" name="email" id="email" class="form__input" placeholder="Почта...">
        </label>
        <label for="password" class="form__label">
            <input formControlName="password" type="password" name="password" id="password" class="form__input" placeholder="Пароль...">
        </label>
        <label for="passwordConfirmation" class="form__label">
            <input formControlName="passwordConfirmation" type="password" name="password_confirmation" id="password_confirmation" class="form__input" placeholder="Повторите пароль...">
        </label>
    </fieldset>

    <fieldset class="form__fieldset">
        <legend class="form__legend">Персональные данные:</legend>
        <label for="lastName" class="form__label">
            <input formControlName="lastName" type="text" name="last_name" id="last_name" class="form__input" placeholder="Фамилия...">
        </label>
        <label for="firstName" class="form__label">
            <input formControlName="firstName" type="text" name="first_name" id="first_name" class="form__input" placeholder="Имя...">
        </label>
        <label for="middleName" class="form__label">
            <input formControlName="middleName" type="text" name="middle_name" id="middle_name" class="form__input" placeholder="Отчество...">
        </label>
    </fieldset>

    <button type="submit" class="form__submit button" [disabled]="form.invalid">Создать аккаунт</button>
</form>