<div class="main-container">
    <header-smart-component></header-smart-component>

    <main class="app-main">
        <section class="description">
            <h2 class="description__title">Проектирование объектно-ориентированных графических интерфейсов</h2>
            <p class="description__paragraph">
                ПООГИ (Проектирование объектно-ориентированных графических интерфейсов) - учебный предмет, который знакомит студентов с основами проектирования и разработки объектно-ориентированных графических интерфейсов (ГИ). Он является частью программ обучения в области компьютерных наук или информационных технологий.
            </p>
            <p class="description__paragraph">
                Целью предмета ПООГИ является обучение студентов проектированию и разработке пользовательских интерфейсов, которые удовлетворяют требованиям эффективного и удобного взаимодействия между пользователем и программным обеспечением.
            </p>
            <p class="description__paragraph">
                Студенты также могут иметь практические занятия, включающие разработку реальных графических интерфейсов с использованием современных инструментов и технологий, таких как фреймворки для создания пользовательских интерфейсов, языки программирования и среды разработки.
            </p>
            <p class="description__paragraph">После завершения курса по ПООГИ студенты будут иметь понимание основных принципов проектирования и разработки объектно-ориентированных графических интерфейсов, а также навыки создания удобных и эффективных пользовательских интерфейсов для различных программных приложений. Эти навыки могут быть применены во многих областях, включая веб-разработку, мобильные приложения, настольные приложения и другие сферы, где требуется разработка
            </p>
        </section>
    </main>
    
    <footer-smart-component></footer-smart-component>
</div>