<div class="admin-container">
    <header-component></header-component>

    <main>
        <router-outlet></router-outlet>

        <section class="admin">
            <h2 class="admin__title">Администрирование</h2>
            <div class="admin__content">
                <div class="admin__documents documents">
                    <h3 class="documents__title">Последние документы</h3>
                    <ul class="documents__list">
                        <li class="documents__item document">
                            <h4 class="document__title">Лабораторная работа №1123</h4>
                            <p class="document__category">Категория: практика</p>
                            <p class="document__date">Дата создания: 31.01.2005</p>
                            <div class="document__buttons">
                                <button class="document__button button">Изменить</button>
                                <button class="document__button button">Открыть</button>
                            </div>
                        </li>
                        <li class="documents__item document">
                            <h4 class="document__title">Лабораторная работа №1</h4>
                            <p class="document__category">Категория: практика</p>
                            <p class="document__date">Дата создания: 31.01.2005</p>
                            <div class="document__buttons">
                                <button class="document__button button">Изменить</button>
                                <button class="document__button button">Открыть</button>
                            </div>
                        </li>
                        <li class="documents__item document">
                            <h4 class="document__title">Лабораторная работа №1</h4>
                            <p class="document__category">Категория: практика</p>
                            <p class="document__date">Дата создания: 31.01.2005</p>
                            <div class="document__buttons">
                                <button class="document__button button">Изменить</button>
                                <button class="document__button button">Открыть</button>
                            </div>
                        </li>
                        <li class="documents__item document">
                            <h4 class="document__title">Лабораторная работа №1</h4>
                            <p class="document__category">Категория: практика</p>
                            <p class="document__date">Дата создания: 31.01.2005</p>
                            <div class="document__buttons">
                                <button class="document__button button">Изменить</button>
                                <button class="document__button button">Открыть</button>
                            </div>
                        </li>
                        <li class="documents__item document">
                            <h4 class="document__title">Лабораторная работа №1</h4>
                            <p class="document__category">Категория: практика</p>
                            <p class="document__date">Дата создания: 31.01.2005</p>
                            <div class="document__buttons">
                                <button class="document__button button">Изменить</button>
                                <button class="document__button button">Открыть</button>
                            </div>
                        </li>
                        <li class="documents__item document">
                            <h4 class="document__title">Лабораторная работа №1</h4>
                            <p class="document__category">Категория: практика</p>
                            <p class="document__date">Дата создания: 31.01.2005</p>
                            <div class="document__buttons">
                                <button class="document__button button">Изменить</button>
                                <button class="document__button button">Открыть</button>
                            </div>
                        </li>
                    </ul>
                    <a class="documents__button button" routerLink="./documents">Открыть полностью</a>
                </div>
                <div class="admin__statistics statistics">
                    <h3 class="statistics__title">Последняя статистика</h3>
                    <ul class="statistics__list">
                        <li class="statistics__item stat">
                            <span class="stat__info">Гаркавый Алексей Петрович</span> открыл документ "<span class="stat__info">Лабораторная работа №1123</span>" 5 секунд назад
                        </li>
                        <li class="statistics__item stat">
                            Гаркавый Алексей Петрович открыл документ "Лабораторная работа №1123" 5 секунд назад
                        </li>
                        <li class="statistics__item stat">
                            Гаркавый Алексей Петрович открыл документ "Лабораторная работа №1123" 5 секунд назад
                        </li>
                        <li class="statistics__item stat">
                            Гаркавый Алексей Петрович открыл документ "Лабораторная работа №1123" 5 секунд назад
                        </li>
                        <li class="statistics__item stat">
                            Гаркавый Алексей Петрович открыл документ "Лабораторная работа №1123" 5 секунд назад
                        </li>
                    </ul>
                    <a class="statistics__button button" routerLink="./statistics">Открыть полностью</a>
                </div>
            </div>
        </section>
    </main>

    <footer-component></footer-component>
</div>